@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@{
    Layout = "default.cshtml";
}
<header>
    <div class="head-inner">
        <h1>Обо мне</h1>
    </div>
</header>
<div>
    <img src="/images/a_9ee26d41.jpg" alt="Бояринцев Стас" />
    <p>Меня зовут Бояринцев Стас. Я - ведущий программист .NET в ItWebNet Киров.</p>
    <p>В рабочее время занимаюсь разработкой фронт-офисных систем <a href="http://renins.com">Ренессанс Страхование</a></p>
    <p>А в свободное - изучением вопросов эффективного обучения, мотивации и продуктивности.</p>
    <a href="https://twitter.com/boyarincev">Мой профиль в twitter</a>
    <br />
    <a href="https://ru.linkedin.com/in/boyarincev">Мой профиль на LinkedIn</a>
    <br />
    <a href="http://kirov.hh.ru/resume/0c588636ff012cf6110039ed1f654c36427552">Моё резюме на hh.ru</a>
    <br />
    <a href="http://habrahabr.ru/users/masterl/">Я на habrahabr.ru</a>
    <br />
    <a href="http://stackoverflow.com/users/5402731/boyarincev">Я на stackoverflow.com</a>
    <br />
    <a href="https://github.com/boyarincev">Я на GitHub</a>
    <br />
    <p>По всем вопросам вы также можете писать мне на boyarincev :) gmail т.ч к com</p>
</div>
